@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@layer base {
    body {
        @apply font-poppins 
    }
}

@layer components {
    .recipe_title {
        @apply text-base font-semibold overflow-hidden;

        display: -webkit-box ;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .nav-link {
        @apply flex flex-col items-center justify-center text-gray-400 font-semibold
    }

    .active-link {
        @apply  text-red-400 
    }

}